{% extends 'base.html' %}
{% load static%}

{% block title %}Home{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">


  <div class="title pt-3">
    <h2>Sondaje:</h2>
  </div>
  <div class="pools pt-2">
    <div class="row">

      {% for pool in live_pools %}

      <div class="col">
        <button class="pool">
          <a href="pool/{{pool.id}}">
            <div class="heading m-3">
              <div class="title">{{pool.title}}</div>
              <div class="date">
                <span id="publish-date {{pool.id}}"></span>
                <script>
                  var raw_date = "{{pool.end_date}}".split(',');
                  document.getElementById('publish-date {{pool.id}}').innerHTML = raw_date[0];
                </script>
              </div>
            </div>
            <div class="content d-flex m-3">
              {{pool.description}}
            </div>
            <div class="footer d-flex m-3">
              <div class="is-active">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                  </svg>
                </div>
                <span>ACTIV</span>
              </div>
              <div class="timer">
                <span id="timer-data {{pool.id}}" data-date="{{pool.end_date}}"></span>
              </div>
            </div>
          </a>
        </button>
      </div>

      {% empty %}
      
      <h3>Nu exista nici un sondaj live.</h3>
      
      {% endfor %}
      
    </div>
  </div>
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}